{
  // This is a custom Babel config that works alongside SWC
  // The forceSwcTransforms option in next.config.js forces SWC for font loading
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "loose": true
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-private-property-in-object", { "loose": true }],
    ["@babel/plugin-transform-private-methods", { "loose": true }],
    ["@babel/plugin-transform-class-properties", { "loose": true }],
    ["babel-plugin-module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./"
      }
    }]
  ]
} 